body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
.main, .login, .signup {
  text-align: center;
  display: grid;
  grid-template-rows: 1.3fr 9fr;
}

h1 {
  margin: 0;
  font-size: 3rem;
}
.App-header {
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
text-align: center;
padding-bottom: 0px;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
     overflow: hidden;
     max-height: 300px;
     max-width: 300px;
    }
    .fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.album-art {
  max-height: 300px;
  max-width: 300px;
  grid-column: span 1;
  justify-content: center;
  align-content: center;
}
.test {
  padding: 20px;
}
.display-main {
  display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows:1fr 1fr;
}

