body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
button {
  margin: 4px;
  font-family : inherit;
  font-size: 1rem;
}
.middle {
  margin-top: 100px;;
}
.main, .login, .signup, #welcomeMessage, #signoutMessage {
  text-align: center;
  display: grid;
  grid-template-rows: 1.3fr 9fr;
}
a {
  font-size: 4rem;
}

label {
  font-size: 4rem;
}
h1 {
  margin: 0;
  font-size: 12rem;
}
.App-header {
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
text-align: center;
padding-bottom: 0px;
}
.fill {
  display: flex;
  justify-content: center;
  align-items: center;
    overflow: hidden;
    max-height: 300px;
    max-width: 300px;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
.album-art {
  max-height: 300px;
  max-width: 300px;
  grid-column: span 1;
  justify-content: center;
  align-content: center;
}

.display-main {
  display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}

