body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
::-webkit-input-placeholder {
  color: pink;
  font-family : "Germania One";
  font-size: 1rem;
}
button {
  margin: 4px;
  font-family : inherit;
  font-size: 1rem;
}
.middle {
  margin-top: 100px;;
}
.main, .login, .signup, #welcomeMessage, #signoutMessage {
  text-align: center;
  display: grid;
  grid-template-rows: 1.3fr 9fr;
}
a {
  font-size: 4rem;
}

label {
  font-size: 4rem;
}
h1 {
  margin: 0;
  font-size: 12rem;
}
.App-header {
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
text-align: center;
padding-bottom: 45px;
}
.fill {
  display: flex;
  justify-content: center;
  align-items: center;
    overflow: hidden;
    max-height: 300px;
    max-width: 300px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  /* this does the flip */
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-image: url("https://image.freepik.com/free-photo/dirty-metal-texture_1048-4784.jpg");
  color: white;
  transform: rotateY(180deg);
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
.album-art {
  max-height: 300px;
  max-width: 300px;
  grid-column: span 1;
  justify-content: center;
  align-content: center;
}

.display-main {
  display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}

